<template>
  <div>
    <!-- 看需不需要防止底部导航挡住二级页面内容 -->
    <!-- <div class="home_container">
      <router-view></router-view>
    </div> -->

    <router-view></router-view>

    <div>
      <van-tabbar v-model="active">
        <van-tabbar-item 
          badge="3"
          to="/layout/home"
        >
          <span>首页</span>
          <template #icon="props">
            <img :src="props.active ? icon.active : icon.inactive" />
          </template>
        </van-tabbar-item>

        <van-tabbar-item icon="search">标签</van-tabbar-item>
        <van-tabbar-item icon="friends-o">标签</van-tabbar-item>
        <van-tabbar-item icon="setting-o">标签</van-tabbar-item>
        <van-tabbar-item icon="setting-o" to="/layout/user">标签</van-tabbar-item>
      </van-tabbar>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Layout',
  data() {
    return {
      active: 0,
      icon: {
        active: '../../assets/layout/home_sel.png',
        inactive: 'https://img01.yzcdn.cn/vant/user-inactive.png',
      },
    };
  },
}
</script>

<style lang="less" scoped>
.van-tabbar {
  border-top: 1px solid #f8f8f8;
}
</style>