<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import { getAllChannelsAPI } from  '@/api'
export default {
  name: 'app',
  // async created() {
  //   try {
  //     const res = await getAllChannelsAPI()
  //     console.log(res)
  //   }catch (err) {
  //     // 错误捕获 try-catch
  //     console.dir(err)
  //   }    
  // },
}
</script>

<style lang="less">

</style>
