<template>
  <div class="login-container">
    <van-nav-bar
      title="登录"
    />
    <div class="app-message">
      <img src="@/assets/login/login_logo.png" class="app-logo">
      <p class="app-title">广东省行政执法</p>
    </div>
    <!-- 
      van-form 整体表单组件
        @submit -> 自定义事件（提交）

      van-field 输入框（表单一项）
      1.name 属性="用户名" (引号内的是参数名)
        表单在整体提交时，默认收集一个提交对象，往后台发送的
        参数名是 name的值 -> {"用户名": '页面值'}
      2.label 属性，为输入框左侧的文字
      3.rules 属性，配置校验规则
        【这里是等到点击提交按钮后再校验（若要失去焦点就匹配可以后续写正则），这里删掉】
        :rules="[{ required: true, message: '请填写用户名' }]"
      【为了配合测试接口，这里的两个文本框name和绑定的数据改为了mobile,code;应为username,password】
     -->
    <van-form @submit="onSubmit">
      <van-field
        v-model="user.mobile"
        name="mobile"
        clearable
        left-icon="contact"
        placeholder="请输入用户名"
      />
      <van-field
        v-model="user.code"
        type="password"
        name="code"
        clearable
        left-icon="lock"
        placeholder="请输入密码"
      />
      <!-- 
        round 是否为圆形
        block 是否为块级元素
        type="info" 类型,info为蓝框
        native-type="" 原生 button 标签的 type 属性
          即按钮点击后实现的是submit方法 -> 提交整个表单
        -->
      <van-button square block type="info" native-type="submit">登录</van-button>
    </van-form>
  </div>
</template>

<script>
// 目标1：实现顶部导航 -> 自定义样式
// 目标2：实现表单组件 -> 读，改，加
// 目标3：收集用户数据，调用接口 -> 查看登录结果

import { loginAPI } from '@/api'; //记得导入api
import { setToken } from '@/utils/token.js';

export default {
  name: 'Login',
  data () {
    return {
      user:{
        mobile: '',  //用户名 username
        code: ''   //密码 123456 password
      }
      
    };
  },
  methods: {
    // 提交账号和密码（表单通过验证才会触发）
    async onSubmit (values) {  
      // 可用values 收集参数名和数值;也可用 this.user
      // console.log('submit', values);
      // console.log('submit2',this.user);

      /* 
        可拓展：点击登录后，给用户提示正在登录中（加载）；
        防止用户频繁点击（点击后禁用按钮） --> 网络差时
      */
      try{
        const res = await loginAPI(values);
        // console.log(res);
        // 登录时设置token
        setToken(res.data.data.token);
        /* 
          路由跳转至/layout/home, 一定要写在最后，尽量最后执行
          location.href = '' 
            当前地址和要跳转的地址一致(不包含#后的锚点信息) -> 不会刷新页面
            地址不一致/改变 -> 页面会刷新
          this.$router.push() 压栈，会产生历史记录，可以回退
          this.$router.replace() 替换，不会产生历史记录
        */
        this.$router.replace({
          path: '/layout'
        })
      }catch (err) {
        // console.log('failed', values, 'mobile', values.mobile, 'code', values.code);        
        // 根据用户输入内容做出判断提示
        if (!values.mobile) {
          this.$toast('请输入用户名'); 
        }else if (!values.code) {
          this.$toast('请输入密码'); 
        }else{
          this.$toast('登录失败，请检查账号密码是否正确'); 
        }
      }
      

    },
  },
}
</script>

<style lang="less" scoped>
  /* 信息展示 */
.login-container .app-message {
  display: flex;
  flex-direction: column;
  /* 主轴上的排列 */
  /* justify-content: center; */
  /* 侧轴的排列 */
  align-items: center;
  /* background-color: pink; */
}
/* 信息展示的logo */
.login-container .app-message > .app-logo{
  width: 2rem;
  height: 2rem;
  margin-top: 1.2rem;
}
/* 信息展示的title */
.login-container .app-message > .app-title {
  padding-top: 0.6rem;
  color: #2f7dcd;
  font: .36rem "Microsoft YaHei";
  /* background-color: aquamarine; */
} 
/* 表单部分 */
/* .login-container ::v-deep .van-form{
  width: 100%;
} */
/* 表单中的文本框 */
.login-container /deep/ .van-field{
  width: 80%;
  margin: 0.6rem auto 0 auto;
  /* background-color: greenyellow; */
  border: 1px solid #f2f2f2;
}
/* 按钮 */
.login-container /deep/ .van-button{
  width: 80%;
  border-radius: 5px;
  font-size: .34rem;
  margin: 0.6rem auto;
  background-color: #2f7dcd;
}
</style>